
body{
  background: url('https://ununsplash.imgix.net/photo-1428973085873-61a784626aad?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper{
  width: 88%;
  margin-left: 10%;
  margin-right: 2%;
  margin-bottom: 100px;
}

img{
  height: 50px;
  width: 50px;
}

table{
  font-size: 1.75em;
 }

table thead{
  border-bottom: 3px solid black;
}

form{
  font-size: 1.5em;
  padding: 15px 25px;
}

h1{
  font-size: 3em;
  background-color: rgb(194, 255, 173);
  color:#291400;
  border: 15px double #1D3900;
  border-bottom: 0;
  border-radius: 5px;
  margin-bottom: 0;
}

.header, .form-header{
  padding-left: 0;
  opacity: 0.6;
 }

.holds-table{
   margin-right: 0;
   background-color: #E6FFE6;
   opacity: 0.9;
   border-radius: 5px;
   border: 15px double #1D3900;

}


h2{
  font-size: 2.5em;
  background-color: rgb(194, 255, 173);
  color:#291400;
  border: 15px double #1D3900;
  border-bottom: 0;
  border-radius: 5px;
  margin-bottom: 0;
  margin-left: 15px;
}

hr{
  color:rgb(194, 255, 173);
  size: 15px;
  border: 2.5px double rgb(194, 255, 173);
  margin-top: 350px;
  width: 100%;
}


.holds-add{
  background-color: #E6FFE6;
  opacity: 0.6;
  padding: 10px;
  border-radius: 5px;
  border: 15px double #1D3900;
  width: 60%;
  margin-left: 0;
  margin-right: auto;
}

button{
  float: right;
}

.header:hover, .form-header:hover, .holds-add:hover{
  opacity: 1.0;
}
