img{
  height: 50px;
  width: 50px;
}

table{
  font-size: 1.75em;
}

table thead{
  border-bottom: 3px solid black;
}

form{
  font-size: 1.5em;
}

h1{
  font-size: 3em;
}
h2{
  font-size: 2.5em;
}

button{
  float: right;
}
